//COLORES

$primary-color: #572EE5;
$secondary-color: #50E3C2; 
$secondary-color2: #9CAFC3; 
$noc-color: #37383C;
$noc-color2: #222326;

// FUENTES

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;

